@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}


#cursor-follow {
    width: 100%;
    height: 100%;
    position: relative;
}


footer {
    position: fixed;
    bottom: 50px; 
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 20px 0; 
}

.social-links a {
    margin: 0 50px;
    width: auto; 
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}


.social-links i {
    margin-right: 10px;
    color: #fcfcfc;
    font-size: 65px;
    transition: transform 0.3s ease, color 0.3s ease;  
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#name {
    font-family: 'Sniglet'; 
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    top: 100px; 
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff; 
    z-index: 10; 
}

#info{
    font-family: 'Sniglet'; 
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: 170px; 
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff; 
    z-index: 10; 
}

.social-links i:hover {
    transform: scale(1.2); 
    cursor: pointer;  
}



@media (max-width: 768px) {
    body, html {
        overflow: auto; 
        font-size: 14   px; 
    }

    #cursor-follow {
        height: auto; 
    }

    footer {
        bottom: 0px;
        padding: 15px 0; 
    }

    .social-links a {
        margin: 0 20px; 
    }

    .social-links i {
        font-size: 60px; 
    }
}